body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

#search-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#search-button {
    display: block;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#news-container {
    margin-top: 20px;
}

#topnav {
    background-color:white;
    overflow: hidden;
    border-radius: 20px;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    top: 30px;
    width: 100%;
  }
  
  #topnav a {
    color:rgb(12, 12, 13);
    text-align: center;
    padding: 16px 24px;
    text-decoration: none;
    font-size: 17px;
    justify-content: space-evenly;
  }
  #topnav a:hover {
    background-color:white;
    color: black;
  }
  
  #topnav a.active {
    background-color:black;

  }
  .article img {
    width: 100%; /* Adjusts the image width */
    height: auto; /* Maintains the aspect ratio */
    margin-bottom: 10px; /* Adds some space between the image and the title */
}

.article h3 {
    margin: 0; /* Removes default margin */
}
.article-content {
    display: none; /* Initially hide full content */
    overflow: hidden; /* Prevent scrolling */
}

.read-more-btn {
    cursor: pointer;
    /* Add your button styling here */
}
/* 
  #newsHero{
    background-image: url('news.jpg');
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
  } */

  body{
    background-color: #ccc;
    /* background-image: url('news.jpg'); */
    background-size: cover;
    width: 100%;
    /* height: 90vh; */
    background-repeat: no-repeat;

  }
  #texts{
    margin-top: 100px;
    text-align: center;
    font-size: 40px;
    font-style: normal;
    color: red;
    display: flex;
    justify-content: space-around;
    /* gap: 150px; */
  }
  #one{
    color: orange;
  }
  #two{
    color: red;
  }
  #three{
color: blue;
  }